.nav
  - if page > 0
    %a.prev{href: obj.url + "/page/#{page - 1}"} &larr; prev
  - else
    %a.prev.disabled &larr; prev

  - for p in obj.range
    - if p == page
      %span.this-page= p
    - elsif p
      %a{href: obj.url + "/page/#{p}"}= p
    - else
      %span.disabled &hellip;

  - if page < obj.page_count
    %a.next{href: obj.url + "/page/#{page + 1}"} next &rarr;
  - else
    %a.next.disabled next &rarr;
