!!!
%html
  %head
    %title facebook
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/app/styles.css'}

  %body
    %h1
      %a{href: '/'} facebook

    - for user in @users
      %a.album{href: user.url}
        .covers
          - if user.find_by_name('Profile Pictures')
            - for photo in user.find_by_name('Profile Pictures').photos.reverse.take(7)
              .album_cover{style: 'background-image: url(' + photo.thumb + ');'}
        .meta
          %h2= user.data['name']
