html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeue;
  font-size: 16px;
  margin: 32px 64px;
}

h1 {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 2em;
  display: block;
}

h1 span {
  color: #bbb;
}

h1 a:last-child {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3b5998;
}

.album {
  display: block;
  margin-bottom: 3em;
  color: #333;
}

.album .covers {
  overflow: hidden;
  height: 206px;
  width: 100%;
  display: inline-block;
}

.meta {
  width: 100%;
  max-width: 1466px;
  margin-top: 6px;
}

@media screen and (max-width: 1593px) {
  .meta { width: 1256px; }
}

@media screen and (max-width: 1383px) {
  .meta { width: 1046px; }
}

@media screen and (max-width: 1173px) {
  .meta { width: 836px; }
}

@media screen and (max-width: 963px) {
  .meta { width: 626px; }
}

@media screen and (max-width: 753px) {
  .meta { width: 416px; }
}

@media screen and (max-width: 543px) {
  .meta { width: 206px; }
  .meta time { display: none; }
}

h2 {
  font-size: 16px;
  display: inline;
}

body > time {
  clear: both;
  display: block;
  padding: 16px 0;
}

.meta time {
  display: inline;
  color: #bbb;
  float: right;
  font-size: 12px;
  margin-top: 4px;
}

.album_cover {
  height: 206px;
  width: 206px;
  display: inline-block;
  background-size: cover;
}

.album_cover.grid {
  float: left;
  margin: 2px;
}

.likes {
  clear: both;
  padding: 16px 0 0;
  font-size: 14px;
}

.likes .names {
  font-weight: bold;
}

.comments {
  clear: both;
  padding: 16px;
  list-style: none;
}

.comments li {
  max-width: 500px;
  border-top: 1px dotted #bbb;
  padding: 8px 0 24px;
}

.comments li .name {
  font-size: 12px;
  font-weight: bold;
}

.comments li time {
  font-size: 12px;
  color: #bbb;
  margin-left: 8px;
}

.comments li .body {
  display: block;
  margin-top: 8px;
}
