!!!
%html
  %head
    %title= title @user, 'camera'
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        %a.here{href: @user.url + '/cameras'} cameras

    %ul.cameras
      - for camera in @cameras
        %li
          %a{href: camera.url}= camera.name
          %span= camera.photos.size
