!!!
%html
  %head
    %title= title @user, 'sets'
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        = partial :menu, locals: {name: 'sets', here: true}

    - for set in @sets
      .set
        %a{href: set.url}
          %img{src: set.photos.first.thumbnail_url}
          %h1= set.data['title']
