!!!
%html
  %head
    %title= title @user, 'tags'
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        %a{href: @user.url + '/tags'} tags

    %ul.tags
      - for tag in @tags.sort_by {|t| -t.photos.size }
        %li
          %a{href: tag.url}= tag.name
          %span= tag.photos.size
